<!DOCTYPE html>
<head>
  <title>Team SegFault | CS 6476 Project Web-app, Fall 2019</title>
  <link rel="stylesheet" href="static/main.css" />
  <script>
    "{{ invalid_query }}" === "True" &&
      window.alert(
        "Query image does not exist! Will show outputs for a random image instead."
      );
  </script>
</head>
{% if image_number and template_data %}

<div id="parentContainer">
  <h1>Output for image #{{image_number}}</h1>
  <div id="container">
    {% for image_path, image_description, num_segs in template_data %}
    <div class="imageContainer">
      <img src="{{image_path}}" class="image" />
      <p>
        {{image_description}}{{ ", segs={}".format(num_segs) if num_segs }}
      </p>
    </div>
    {% endfor %}
  </div>
</div>

{% else %}
<h1>Oops! There was an error!</h1>
{% endif %}
